%h2= t('activerecord.models.visual_analysis')
%hr.m-y-2
= full_select_tag :visual_analysis, :intensity, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :intensities), @tasting.visual_analysis.intensity)
= full_select_tag :visual_analysis, :nuance, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :nuances), @tasting.visual_analysis.nuance)
= full_select_tag :visual_analysis, :limpidity, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :limpidities), @tasting.visual_analysis.limpidity)
= full_select_tag :visual_analysis, :brightness, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :brightnesses), @tasting.visual_analysis.brightness)
= full_select_tag :visual_analysis, :density, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :densities), @tasting.visual_analysis.density)
= full_select_tag :visual_analysis, :effervescence, options_for_select(active_record_enum_list_i18n(VisualAnalysis, :effervescences), @tasting.visual_analysis.effervescence)

%h2= t('activerecord.models.olfactory_analysis')
%hr.m-y-2
= full_select_tag :olfactory_analysis, :intensity, options_for_select(active_record_enum_list_i18n(OlfactoryAnalysis, :intensities), @tasting.olfactory_analysis.intensity)
= full_select_tag :olfactory_analysis, :diversity, options_for_select(active_record_enum_list_i18n(OlfactoryAnalysis, :diversities), @tasting.olfactory_analysis.diversity)
= full_select_tag :olfactory_analysis, :quality, options_for_select(active_record_enum_list_i18n(OlfactoryAnalysis, :qualities), @tasting.olfactory_analysis.quality)
= text_field :olfactory_analysis, :olfactory_natures

%h2= t('activerecord.models.gustatory_analysis')
%hr.m-y-2
= full_select_tag :gustatory_analysis, :acidity, options_for_select(active_record_enum_list_i18n(GustatoryAnalysis, :acidities), @tasting.gustatory_analysis.acidity)
= full_select_tag :gustatory_analysis, :alcohol, options_for_select(active_record_enum_list_i18n(GustatoryAnalysis, :alcohols), @tasting.gustatory_analysis.alcohol)
= full_select_tag :gustatory_analysis, :mellowness, options_for_select(active_record_enum_list_i18n(GustatoryAnalysis, :mellownesses), @tasting.gustatory_analysis.mellowness)
= full_select_tag :gustatory_analysis, :tannin_quantity, options_for_select(active_record_enum_list_i18n(GustatoryAnalysis, :tannin_quantities), @tasting.gustatory_analysis.tannin_quantity)
= full_select_tag :gustatory_analysis, :tannin_quality, options_for_select(active_record_enum_list_i18n(GustatoryAnalysis, :tannin_qualities), @tasting.gustatory_analysis.tannin_quality)

%h2= t('activerecord.models.analysis_conclusion')
%hr.m-y-2
= full_select_tag :analysis_conclusion, :balance, options_for_select(active_record_enum_list_i18n(AnalysisConclusion, :balances), @tasting.analysis_conclusion.balance)
= full_select_tag :analysis_conclusion, :pai, options_for_select(active_record_enum_list_i18n(AnalysisConclusion, :pais), @tasting.analysis_conclusion.pai)
= full_select_tag :analysis_conclusion, :overall_sentiment, options_for_select(active_record_enum_list_i18n(AnalysisConclusion, :overall_sentiments), @tasting.analysis_conclusion.overall_sentiment)
= full_select_tag :analysis_conclusion, :future, options_for_select(active_record_enum_list_i18n(AnalysisConclusion, :futures), @tasting.analysis_conclusion.future)
