%h1= "#{t('actions.new')} #{t('activerecord.models.tasting')}"

= form_tag [@wine, @tasting], method: 'post' do
  = render 'form'
  = link_to t('navigation.back_to.wine_show'), @wine, class: 'btn btn-info', role: 'button'
  = submit_tag t('actions.new'), class: "btn btn-primary"
