= form_for @wine do |f|
  %p
    = f.full_text_field :appellation

  %p
    = f.label :vintage
    = f.text_field :vintage

  %p
    = f.text_field :domaine
    - if @wine.errors[:domaine].any?
      = f.label :domaine do
        - @wine.errors[:domaine].join(', ').downcase

  %p
    = link_to 'Back', wines_path, class: 'btn btn-primary', role: 'button'
    = f.submit 'Submit', class: 'btn btn-primary'
