%h1 Show wine

%p
  %strong Appellation
  = @wine.appellation

%p
  %strong Vintage
  = @wine.vintage

%p
  %strong Domaine
  = @wine.domaine

%h2 Add a tasting
= render 'tastings/form'

%h2 Tastings
- @wine.tastings.each do |tasting|
  - if not tasting.id.blank? and tasting.errors.empty? 
    = render tasting


= link_to 'Back', wines_path, class: "btn btn-primary", role: "button"
= link_to 'Edit', edit_wine_path(@wine), class: "btn btn-warning", role: "button"
