%h1 Show wine

%p
  %strong Appellation
  = @wine.appellation

%p
  %strong Vintage
  = @wine.vintage

%p
  %strong Domaine
  = @wine.domaine

%h2 Tastings
= render @wine.tastings

%h2 Add a tasting
= render 'tastings/form'

= link_to 'Back', wines_path, class: "btn btn-primary", role: "button"
= link_to 'Edit', edit_wine_path(@wine), class: "btn btn-warning", role: "button"
