%h1= "#{t('actions.show')} #{t('activerecord.models.wine')}"
%p
  %strong Ajouté par
  = @wine.user.full_name

%p
  %strong= t('wine.couleur')
  = t("wine.colors.#{@wine.color}")

%p
  %strong= t('wine.appellation')
  = @wine.appellation

%p
  %strong= t('wine.domaine') 
  = @wine.domaine

%p
  %strong= t('wine.vintage')
  - if @wine.vintage
    = @wine.vintage
  - else
    = t('wine.no_vintage')

%p
  %strong= t('wine.alcohol_rate')
  = @wine.alcohol_rate

%p
  %strong= t('wine.vinification_type')
  = t("wine.vinification_types.#{@wine.vinification_type}")

%p
  %strong= t('wine.grapes')
  = @wine.grapes.collect { |grape| grape.name }.join(', ')

%p
  = link_to t('navigation.back_to.wine_index'), wines_path, class: "btn btn-info", role: "button"
  - if policy(@wine).edit?
    = link_to "#{t('actions.edit')}", edit_wine_path(@wine), class: "btn btn-warning", role: "button"
  - if policy(@wine).destroy?
    = link_to "#{t('actions.destroy')}", wine_path(@wine), method: :delete, data: { confirm: 'Are you sure ?'}, class: 'btn btn-danger', role: 'button'
  = link_to "#{t('actions.add')} #{t('activerecord.models.tasting')}", new_wine_tasting_path(@wine), class: "btn btn-primary", role: "button"

%h2= t('activerecord.models.tasting').pluralize
%table.table.table-striped.table-hover.table-sm
  %thead.thead-inverse
    %tr
      %th= t('tasting.taster')
      %th= t('activerecord.models.analysis_conclusion')
      %th
  %tbody
    - @wine.tastings.each do |tasting|
      - if not tasting.id.blank? and tasting.errors.empty? 
        %tr
          %td= tasting.user.full_name
          %td
            - if tasting.analysis_conclusion
              = t("analysis_conclusion.balances.#{tasting.analysis_conclusion.balance}")
            - else
              = 'None'
          %td
            = link_to 'Show Tasting', [tasting.wine, tasting], class: 'btn btn-info btn-sm', role: 'button'
            - if policy(tasting).edit?
              = link_to 'Edit Tasting', edit_wine_tasting_path(tasting.wine, tasting), class: 'btn btn-warning btn-sm', role: 'button'
            - if policy(tasting).destroy?
              = link_to 'Destroy Tasting', [tasting.wine, tasting], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', role: 'button'

