%html
  %head
    %title wine-pex
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - # Navigation bar
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      %a.navbar-brand{:href => "#"} wine-pex
      .nav.navbar-nav
        = link_to root_path, class: 'nav-item nav-link active' do
          Home
          %span.sr-only (current)
        - if user_signed_in?
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link pull-xs-right'
        - else
          = link_to 'Login', new_user_session_path, class: 'nav-item nav-link pull-xs-right'

    .jumbotron
      .container
        - # Notice pop-up
        - if notice
          .alert.alert-success.alert-dismissible.fade.in{:role => "alert"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %strong= notice

        - # Alert pop-up
        - if alert
          .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %strong= alert

        - # This is where data will be rendered
        = yield

